.bg-nav{
    background: #005AA7;
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7);
}
.mt-50{
    margin-top:50px;
    margin-left: 10px;
}